/* navbar */
.navHead{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.navbar{
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
}



/* searchBar */
.search {
    border: 0;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
    transition: .2s ease-in-out;
    padding: 10px;
    box-sizing: border-box;
  }




/* Hero Page */
.hero{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 500px;
    border-bottom: 4px black;
    overflow: hidden;
    position: relative;
    background-color: white;
    text-align: center;
}

.heroBackground{
    opacity: 0.1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

.heroTitle{
    font-size: 50px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}